body {
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.15em;
}

p, span, li {
    text-align: justify;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 3em;
}

footer a {
    padding-left: 2em;
}

span.property {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-weight: bold;
    vertical-align: top;
    padding-right: 0.5em;
}

div.values {
    display: inline-block;
    width: 70%;
}

span.value {
    display: block;
}

#graphAndControls {
    clear: both;
    overflow: auto;
    display: block;
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    padding: 1em;
    height: 400px;
}

#graphContainer {
    float: left;
    width: 75%;
    height: 85%;
    position: relative;
}

#graphControls {
    float: left;
    width: 25%;
    height: 100%;
    overflow-y: auto;
    padding-right: 1em;
}

.graphSelector,
.graphSelectorFromBaseSet {
    margin: 2px;
    padding: 0.3em;
    color: white;
}

.graphSelector {
    cursor: pointer;
}

.graphSelectorFromBaseSet {
    border: 2px solid red;
}

.blackFont .graphSelector {
    color: black;
}

.graphSelector:hover {
    opacity: 1;
}

.graphControlTitle {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: block;
}

.graphSelector .glyphicon,
.graphSelectorFromBaseSet .glyphicon,
.graphControlTitle .glyphicon {
    margin-right: 0.5em;
}

.graphControlTitle .glyphicon {
    font-size: 80%;
    color: grey;
}

#dateSlider {
    position: absolute;
    bottom: -20%;
    left: 5%;
    z-index: 999;
    width: 90%;
}

#dateSlider .slider{
    width: 100%;
}

.examplesTitle {
    font-weight: bold;
    color: #777;
}

.example {
    margin: 4px;
    padding: 2px;
    color: #777;
}

.example:hover {
    color: #333;
}

.table-hover {
    margin-top: 2em;
    margin-bottom: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-radius: 0;
    border: 0;
    box-shadow: 0px 0px 5px 1px #c4c4c4;
}


.navbar>div>div li>a{
    padding-left: 1em;
    padding-right: 1em;
}

.navbar .navbar-right input,
.navbar .navbar-right button {
    border-radius: 0;
}

.container {
    padding-top: 8em;
}

.resourceExtLink {
    font-size: 75%;
    padding-left: 1em;
    display: inline;
}

#resourceType {
    margin-right: 0.25em;
}

.clear {
    clear: both;
}

.resourceUri {
    margin-bottom: 1em;
    margin-right: 1em;
}

.sameas:first-child {
    margin-left: 1em;
}

.sameas {
    padding: 0.25em 0.9em;
}

.sameas:hover {
    border-top: 2px solid #428bca;
    text-decoration: none;
}

.sameas.active {
    border-top: 2px solid #395775;
    color: #333;
}


.provider {
    color: #333;
    font-size: 80%;
}

.react-bs-table-container,
.resource-data {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.list-group-item,
.table>tbody>tr>td {
    border: 0;
    border-top: 1px solid #ddd;
}

.table-bordered,
.table-bordered>thead>tr>th {
    border: 0;
}

thead th::before {
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    content: "\e138";
    padding-right: 0.5em;
}

.popover {
    padding: 0.5em;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider {
    margin-left: 1em;
}

.slider-selection {
    background-image: linear-gradient(to bottom,#999999 0,#555555 100%);
}

#fullscreenSwitch {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
}

#graphAndControls:fullscreen {
    background-color: white;
    width: 100%;
    height: 100%;
}
#graphAndControls:-webkit-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
}
#graphAndControls:-moz-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
}
#graphAndControls:-ms-fullscreen {
    background-color: white;
    width: 100%;
    height: 100%;
}

svg.htl {
    display: none;
}

.x.axis line {
  stroke: #fff;
}

.link:hover {
  stroke-opacity: .5;
}

#sidebar li {
    float: none;
    border-bottom: 1px solid #cbcbcb;
    margin: 0 !important;
    text-align: left;
}

.navbar-default .navbar-brand-small {
    display: none !important;
}

#stats h2 {
    text-align: center;
}

#partners {
    width: 80%;
    padding-top: 2em;
    margin: auto;
}

#partners img {
    max-width: 150px;
    max-height: 100px;
}
/* media queries */

@media screen and (max-width: 1110px) {
    .navbar-default .navbar-brand-long {
        display: none !important;
    }
    .navbar-default .navbar-brand-small {
        display: block !important;
    }
}

@media screen and (max-width: 1020px) and (min-width: 768px) {
    .container { padding-top: 10em; }
}

@media screen and (max-width: 767px) {
    .container { padding-top: 4em; }
}